<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="frame">
    <div class="frame">
        <footer>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="social-row">
                <li><a href="https://github.com/my-github-profile"><i class="fab fa-github"></i></a></li>
                <li><a href="https://twitter.com/my-twitter-profile"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/my-linkedin-profile"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </footer>
    </div>
</div>

</body>
</html>