    html, body {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        font: 13px/20px 'Titillium Web',Arial;
        font-weight: 400;
        overflow-x: hidden;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .wrapper {
        flex: 1 1 auto
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #authorisation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: inherit;
        min-height: calc(100vh - 390px);
        padding-top: 10px;
        float: left;
        width: 100%;
    }

    authorisation .butonlar {
        text-align: center;
        padding: 10px 0px;
        margin-bottom: 5px;
    }

    #authorisation .brace {
        border-top: 1px solid #d96142;
        width: 300px;
        margin: 10px 0;

    }

    #authorisation .authorisation_input {
        text-align: center;
        flex-wrap: wrap;
}    }

    #authorisation .message {
        float: none;
        width: auto;
        text-align: inherit;
        padding: 20px 0 0 0;
        width: 300px
    }

    .message {
        float: left;
        width: 100%;
        text-align: center;
    }

    #authorisation .membership_domain {
        border: 1px solid #d96142;
        width: 300px;
        height: 50px;
        padding: 15px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    #authorisation .epey-authorisation {
        background-color: #d96142;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    #authorisation .authorisation, #authorisation .sign_up {
        width: 300px;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    input[type="checkbox" i] {
        background-color: initial;
        cursor: default;
        appearance: auto;
        box-sizing: border-box;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: initial;
    }

    label {
        cursor: default;
    }

    #authorisation .password_forget {
        margin: 5px 0;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    #authorisation .register {
        float: left;
        width: 100%;
        text-align: center;
    }

    input {
        writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: field;
        margin: 0em;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }

    #authorisation .epey-authorisation {
        background-color: #d96142;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    #authorisation .authorisation, #authorisation .sign_up {
        width: 300px;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    .g-signin2>div {
        margin: 5px auto;
    }

    .abcRioButtonBlue .abcRioButtonContentWrapper {
        border: 1px solid transparent;
    }

    .abcRioButtonContentWrapper {
        height: 100%;
        width: 100%;
        background: #4285f4;
    }

    .abcRioButtonBlue {
        background-color: #4285f4;
        border: none;
        color: #fff;
    }

    .abcRioButton {
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
        transition: background-color .218s,border-color .218s,box-shadow .218s;
        -webkit-user-select: none;
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        color: #262626;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;
    }

    .abcRioButtonBlue .abcRioButtonIcon {
        background-color: #fff;
        border-radius: 1px;
    }

    .abcRioButtonIcon {
        float: left;
    }

    .abcRioButtonContents {
        font-family: Roboto,arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .21px;
        margin-left: 6px;
        margin-right: 6px;
        vertical-align: top;
    }

    button {
        appearance: auto;
        writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: buttonface;
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
    }