    .wrapper {
        flex: 1 1 auto;
    }

    #user_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: inherit;
        min-height: calc(100vh - 390px);
        padding-top: 10px;
        float: left;
        width: 100%;
    }

    form {
        display: block;
        margin-top: 0em;
    }

    #user_page .user_information {
        width: 100%;
        text-align: center;
        margin: 0 0 40px;
    }
    #user_page .membership_domain {
        border: 1px solid #d96142;
        width: 300px;
        height: 50px;
        padding: 15px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    #authorisation .update_user {
        width: 300px;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        border: none;
        color: #ffffff;
        cursor: pointer;
    }
    button {
        width: 300px;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        border: none;
        color: #fff;
        cursor: pointer;
        background-color: #d96142;
        border-radius: 3px;
    }
    p {
        font-weight: bolder;
        font-weight: 1000;
    }
    .brace {
        border-top: 1px solid #d96142;
        width: 300px;
        margin: 10px 0;
    }


