    #authorisation #input:hover {
        background: #D96142;
        color: #FFF;
    }

    #authorisation #registration:hover {
        background: #D96142;
        color: #FFF;
    }

    #authorisation .butonlar #input {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 52.5px;
        border: 1px solid #D96142;
        border-radius: 3px;
        background-color: #D96142;
        color: #FFF;
        cursor: default
    }

    #authorisation .butonlar #registration {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 16px;
        boruyeder: 1px solid #D96142;
        cursor: pointer;
        border-radius: 3px
    }