    #reset .forget_password {
        width: 300px;
        height: 50px;
        padding: 15px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        border: 1px solid #d96142;
    }
    #reset .send-password {
        width: 300px;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
        box-sizing: border-box;
        border: none;
        color: #fff;
        cursor: pointer;
        background: #d96142;
    }
    .error {
        color: red;
    }