    *{
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        color: #333;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
    color: red;
    }

    .wrapper{
       width: 970px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
    }
