
    #header html {
        margin: 0;
        display: block;
    }

    #header head {
        display: none;
    }

    #header body {
        margin: 0;
        padding: 0;
        font: 13px/20px 'Titillium Web',Arial;
        font-weight: 400;
        max-width: 100%;
        overflow-x: hidden;
        display: block;
        margin: 8px;
    }


    #header #menu {
        float: left;
        position: relative;
        width: 970px;
        height: 44px;
        background: #d96142;
        border-top: 1px solid #d96142;
        display: block;
        border-bottom: 1px solid #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 0 0 3px 3px;
        font-size: 14px;
        z-index: 500;
    }

    #header #menu ul {
        width: 100%;
        text-align: left;
        display: inline;
        list-style: none;
        padding: 0;
        margin: 1px;
        z-index: 900;
    }

    #header #menu ul li.level {
        font-weight: 700;
    }

    #header #menu ul li {
        width: auto;
        display: inline-block;
        padding: 12px 10px;
        color: #fff;
        height: 20px;
    }

    #header #menu ul li a.level {
        color: #fff;
    }

    #header #menu ul .brace {
        font-weight: 400;
        width: 1px;
        height: 20px;
        color: #fff;
        font-size: 22px;
    }

    #header #frame {
        width: 990px;
        margin: 0 auto;
        margin-top: 5px;
    }

    #header .frame {
        float: left;
        width: 970px;
        background: #fff;
        margin: 0;
        padding: 0 10px 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        z-index: 9999;
    }

     #header #ust {
         float: left;
         width: 970px;
         height: 40px;
         margin: 0 5px;
         padding: 10px 0 5px;
         background: #fff;
     }

     #header div {
         display: block;
     }

     #header #logo {
         float: left;
         margin: 3px 0 0 15px;
     }

     #header a {
         text-decoration: none;
         color: #000;
     }

     #header #search-box {
         float: left;
         width: 650px;
         height: 40px;
         border: 1px solid #d96142;
         -moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         margin-left: 25px;
         background: #fff;
         margin-right: 5px;
         background: #e9e8e8;
     }

     #header .search-key-box {
         z-index: 1000;
     }

     #header script {
         display: none;
     }

     #header form {
         display: block;
         margin-top: 0em;
     }

    #header #search-box .call {
        width: 559px;
        font-size: 15px;
        margin-top: 4px;
        font: bold 13px/20px 'Titillium Web',Arial;
    }
    
     #header #search-box .search {
         width: 70px;
         height: 38px;
         background: url(https://resim.epey.com/tema/aratmp.png) no-repeat center #d96142;
         cursor: pointer;
         margin: 1px 1px 0 0;
         padding: 5px 0;
         border-radius: 0 3px 3px 0;
     }

    #header #search-box input {
        float: left;
        padding: 7px 10px;
        border: none;
        background: 0 0;
        outline: 0!important;
        -webkit-appearance: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

     #header #search-box .callconclusion {
         float: left;
         width: 580px;
         position: relative;
         z-index: 100000;
     }

     #header #user_panel {
         position: relative;
         width: 102px;
         height: 36px;
         cursor: pointer;
         padding: 4px 0 0 35px;
         border-radius: 3px;
         float: left;
         background: url(https://resim.epey.com/tema/user.png) 5px 10px no-repeat;
     }

     #header .panelliste {
         font-size: 15px;
     }

     #header #user_panel {
         position: relative;
         width: 102px;
         height: 36px;
         /* border: 1px solid #42d98c; */
         cursor: pointer;
         padding: 4px 0 0 35px;
         border-radius: 3px;
         float: left;
         background: url(https://resim.epey.com/tema/user.png) 5px 10px no-repeat;
     }

     #header .panelliste .descikon {
         float: right;
         width: 25px;
         height: 17px;
         background: url(https://resim.epey.com/tema/down.png?v=3) no-repeat;
         margin: 10px 0 0;
     }

     #header .panelliste span.sp1 {
         font-size: 16px;
         font-weight: 700;
     }

     #header .panelliste span {
         display: block;
         font-size: 12px;
         line-height: 17px;
     }

     #header .panelliste span {
         display: block;
         font-size: 12px;
         line-height: 17px;
     }

